<div class="row admin">
  <form>
    <h5>Create new user</h5>
    <div class="input-field col m4">
      <i class="material-icons prefix">email</i>
      <input id="email" type="text" class="validate" />
      <label for="email">Email</label>
    </div>
    <div class="input-field col m4 offset-m1">
      <i class="material-icons prefix">vpn_key</i>
      <input id="password" type="text" class="validate" />
      <label for="password">Password</label>
    </div>
    <div class="input-field col m3 center-align pb5">
      <a class="btn-floating btn-large waves-effect waves-light blue"
        ><i class="material-icons">add</i></a
      >
    </div>
    <h5 class="pb2">List of users</h5>

    <div class="input-field col m4">
      <i class="material-icons prefix">email</i>
      <input
        value="Alvin@gmail.com"
        id="password"
        type="text"
        class="validate"
      />
      <label class="active" for="password">Email</label>
    </div>
    <div class="input-field col m4 offset-m1">
      <i class="material-icons prefix">vpn_key</i>
      <input value="FEUOa8f02" id="password_1" type="text" class="validate" />
      <label class="active" for="password_1">Password</label>
    </div>
    <div class="input-field col m3 center-align">
      <a class="waves-effect waves-light btn red">Delete user</a>
    </div>

    <div class="input-field col m4">
      <i class="material-icons prefix">email</i>
      <input
        value="Bert@gmail.com"
        id="password"
        type="text"
        class="validate"
      />
      <label class="active" for="password">Email</label>
    </div>
    <div class="input-field col m4 offset-m1">
      <i class="material-icons prefix">vpn_key</i>
      <input value="Fwofj424" id="password_1" type="text" class="validate" />
      <label class="active" for="password_1">Password</label>
    </div>
    <div class="input-field col m3 center-align">
      <a class="waves-effect waves-light btn red">Delete user</a>
    </div>

    <div class="input-field col m4">
      <i class="material-icons prefix">email</i>
      <input
        value="Arnold2@gmail.com"
        id="password"
        type="text"
        class="validate"
      />
      <label class="active" for="password">Email</label>
    </div>
    <div class="input-field col m4 offset-m1">
      <i class="material-icons prefix">vpn_key</i>
      <input value="kuAEvc1999" id="password_1" type="text" class="validate" />
      <label class="active" for="password_1">Password</label>
    </div>
    <div class="input-field col m3 center-align">
      <a class="waves-effect waves-light btn red">Delete user</a>
    </div>

    <div class="input-field col m4">
      <i class="material-icons prefix">email</i>
      <input
        value="Kees09@gmail.com"
        id="password"
        type="text"
        class="validate"
      />
      <label class="active" for="password">Email</label>
    </div>
    <div class="input-field col m4 offset-m1">
      <i class="material-icons prefix">vpn_key</i>
      <input value="qwedsvbl10" id="password_1" type="text" class="validate" />
      <label class="active" for="password_1">Password</label>
    </div>
    <div class="input-field col m3 center-align">
      <a class="waves-effect waves-light btn red">Delete user</a>
    </div>
  </form>
</div>
