<div class="side-nav">
  <ul class="sidenav sidenav-fixed cyan lighten-5" id="slide-out">
    <li>
      <h3 class="gray-color pt5">MUD JEANS</h3>
    </li>
    <br>
    <li>
      <a class="gray-color" routerLink="/dashboard">
        <i class="material-icons medium">account_circle</i> Dashboard
      </a>
    </li>
    <br>
    <li>
      <a class="gray-color" routerLink="/orders">
        <i class="material-icons medium">star</i> Orders
      </a>
    </li>
    <br>
    <li>
      <a class="gray-color" routerLink="/settings">
        <i class="material-icons medium">settings</i> Settings
      </a>
    </li>
  </ul>
</div>
