.side-nav {
    .gray-color {
        color: #212121;
    }
    ul {
        z-index: 100;
        h3 {
            margin-top: 50px;
        }
        li {
            padding-top: 15px;
            i {
                margin-right: 50px;
            }
        }
    }
}

.pt5 {
    padding-top: 25px;
}
